
<center>
<header class="rep-header">
<h2><%= @representative.profession %> <%= @representative.name%> <%= @representative.party%> - <%= @representative.district%></h2>
</header>
<div class="card text-center center border_orange" id="representative_card">
  <div class="card-header border_orange">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <%= link_to 'Overview', show_representative_path(:id => @representative.id, :index => @index), :remote => true, class: "nav-link"%>
      </li>
      <li>
        <%= link_to 'Voting Record', votes_representative_path(:id => @representative.id, :index => @index), :remote => true, class: "nav-link"%>
      </li>
      <li>
        <%= link_to 'Campaign Finances', donations_representative_path(:id => @representative.id, :index => @index), :remote => true, class: "nav-link"%>
      </li>
      <li>
        <a class="nav-link active" href="#">Contact</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="inner narrow center">
      <br>

<% if @representative.profession=="Member of The US House of Representatives" || @representative.profession=="US Senator"%>
<div class ="container">
  <p>Members of the US Senate and House do not reveal their email addresses so you must email them through their website which is embedded below.</p>
<iframe id="contact_frame" class="border_orange rounded" src=<%= @representative.email %>>
<p>Placeholder text; only shows up if the page DOESN'T render!</p>
</iframe>
</div>
<% else %>
      <form method="post" action =<%="/representatives/#{@representative.id}/contact"%>>
        <%= token_tag %>
        <div class ="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="field">
                  <select id="template" class="form-control">
                    <option>Choose a Template</option>
                    <option>Blank</option>
                    <% Email.where(profession: @representative.profession).each do |email| %>
                      <option value="<%= email.id %>" ><%= email.ref %></option>
                    <% end %>
                  </select>
                </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <div class = "field">
                <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class = "field">
                <input type="text" class="form-control" id="email" name="from_email" placeholder="Email">
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12">
              <div class = "field">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12">
              <div class = "field">
                <textarea class="form-control" name="message" id="message" rows="6" placeholder="Message"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div>
          <br>
          <ul class="actions">
            <li><button class="button" type="submit">Send</button></li>
          </ul>
        </div>
      </form>
  <% end %>
      <br>
    </div>
  </div>
</center>
<script>
  let templates = {
    <% Email.where(profession: @representative.profession).each do |email| %>
      "<%= email.id %>": {
        subject: "<%= email.subject %>",
        content: "<%= email.content %>"
      },
    <% end %>
  }
  $("#template").on('change', function() {
    id = this.value
    $("#subject").val(templates[id]["subject"])
    $("#message").val(templates[id]["content"])
  });
</script>
