
<center>
<header class="rep-header">
<h2><%= @representative.profession %> <%= @representative.name%> <%= @representative.party%> - <%= @representative.district%></h2>
</header>
<div class="card text-center center border_orange" id="representative_card">
  <div class="card-header border_orange">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Overview</a>
      </li>
      <li>
        <%= link_to 'Voting Record', votes_representative_path(:id => @representative.id, :index => @index), :remote => true, class: "nav-link"%>
      </li>
      <li>
        <%= link_to 'Campaign Finances', donations_representative_path(:id => @representative.id, :index => @index), :remote => true, class: "nav-link"%>
      </li>
      <li>
        <%= link_to 'Contact', contact_representative_path(:id => @representative.id, :index => @index), :remote => true, class: "nav-link"%>
      </li>
  </div>
  <div class="card-body">
    <img align="left" src="<%= @representative.img %>" ></img>
    <div>
    <h3>NYCSE Rating: <%= @representative.rating%></h3>
    <h4>Beliefs Regarding Gun Control:</h4>
    <% unless @representative.beliefs.blank? %>
    <% beliefs = @representative.beliefs.split("-").drop(1) %>
<ul id="beliefs">

  <% beliefs.each do |belief| %>
  <li><%= belief%></li>
  <% end %>

</ul>
    <% end %>

    </div>


  </div>
</center>
