
<center>
<%   for_votes = 0 %>
<%   unknown_votes = 0 %>
<%   against_votes = 0 %>
<% votes = @representative.votes %>
<% votes.each do |vote| %>
  <% bill = Bill.find(vote.bill_id) %>

  <% if vote.stance=="unknown" %>
    <% unknown_votes = unknown_votes + 1 %>
  <% end %>

  <% if vote.stance== "for" %>
    <% if bill.supports_gun_control == "yes" %>
      <% for_votes = for_votes + 1 %>
    <% end %>
    <% if bill.supports_gun_control == "no" %>
      <% against_votes = against_votes + 1 %>
    <% end %>
  <% end %>
  <% if vote.stance== "sponsor" %>
    <% if bill.supports_gun_control == "yes" %>
      <% for_votes = for_votes + 1 %>
    <% end %>
    <% if bill.supports_gun_control == "no" %>
      <% against_votes = against_votes + 1 %>
    <% end %>
  <% end %>

  <% if vote.stance== "cosponsor" %>
    <% if bill.supports_gun_control == "yes" %>
      <% for_votes = for_votes + 1 %>
    <% end %>
    <% if bill.supports_gun_control == "no" %>
      <% against_votes = against_votes + 1 %>
    <% end %>
  <% end %>

  <% if vote.stance== "against" %>
    <% if bill.supports_gun_control == "no" %>
      <% for_votes = for_votes + 1 %>
    <% end %>
    <% if bill.supports_gun_control == "yes" %>
      <% against_votes = against_votes + 1 %>
    <% end %>
  <% end %>
<% end %>
<header>
<h1><%= @representative.name%> <%= @representative.party%> - <%= @representative.district%></h1>
</header>
<div class="card text-center center border_orange" id="representative_card">
  <div class="card-header border_orange">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" id="tab-1" href="/representatives/<%=@representative.id%>">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Voting Record</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/representatives/<%= @representative.id%>/donations">Campaign Finances</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/representatives/<%= @representative.id%>/contact">Contact</a>
      </li>
    </ul>
  </div>
      <br>
    <div class="icon-header">
      <div class="row">
        <div class="col-4">
          <h7><%= fa_icon "thumbs-up 2x", right: false, text: "Votes For Gun Control: #{for_votes}"%></h7>
        </div>
        <div class="col-3">
          <h7><%= fa_icon "exclamation-triangle 2x", right: false, text: "Unknown Votes: #{unknown_votes}"%></h7>
        </div>
        <div class="col-5">
          <h7><%= fa_icon "thumbs-down 2x", right: false, text: "Votes Against Gun Control: #{against_votes}"%></h7>
        </div>
      </div>
    </div>
      <div class="card-body">

    <% votes = @representative.votes %>
    <% votes.each do |vote| %>
      <% bill = Bill.find(vote.bill_id) %>


      <% if vote.stance =="unknown" %>
        <% header = "Unknown Stance on Senate Bill " %>
        <% icon="exclamation-triangle" %>
      <% end %>

      <% if vote.stance == "for" %>
        <% header = "Voted for Senate Bill " %>
        <% if bill.supports_gun_control == "yes" %>
          <% icon="thumbs-up" %>
        <% end %>
        <% if bill.supports_gun_control == "no" %>
          <% icon="thumbs-down" %>
        <% end %>
      <% end %>

      <% if vote.stance == "sponsor" %>
        <% header = "Sponsored Senate Bill " %>
        <% if bill.supports_gun_control == "yes" %>
          <% icon="thumbs-up" %>
        <% end %>
        <% if bill.supports_gun_control == "no" %>
          <% icon="thumbs-down" %>
        <% end %>
      <% end %>

      <% if vote.stance == "cosponsor" %>
        <% header = "Cosponsored Senate Bill " %>
        <% if bill.supports_gun_control == "yes" %>
          <% icon="thumbs-up" %>
        <% end %>
        <% if bill.supports_gun_control == "no" %>
          <% icon="thumbs-down" %>
        <% end %>
      <% end %>

      <% if vote.stance == "against" %>
        <% header = "Voted against Senate Bill " %>
        <% if bill.supports_gun_control == "no" %>
          <% icon="thumbs-up" %>
        <% end %>
        <% if bill.supports_gun_control == "yes" %>
          <% icon="thumbs-down" %>
        <% end %>
      <% end %>
      <div class = "card border_orange">
        <div class="card-header border_orange"><h3><%= fa_icon "#{icon}", right: false %> <%= header%> <%= bill.number %> - <%= bill.shorthand %></h3></div>
        <div class="card-body left">

          <p><strong>Status: </strong><%= bill.status %></p>
          <p><strong>Summary: </strong> <%= bill.summary %> </p>
          <p><strong>Official Position on Bill: </strong><%if vote.position == nil || vote.position == "" %>None Specified<% else %><%=vote.position %><%end%></p>
        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>
</center>
