

<center>
<%   for_votes = 0 %>
<%   unknown_votes = 0 %>
<%   against_votes = 0 %>
<% votes = @representative.votes %>
<% votes.each do |vote| %>
  <% bill = Bill.find(vote.bill_id) %>

  <% if vote.stance=="unknown" %>
    <% unknown_votes = unknown_votes + 1 %>
  <% end %>

  <% if vote.stance== "for" %>
    <% if bill.supports_gun_control == "yes" %>
      <% for_votes = for_votes + 1 %>
    <% end %>
    <% if bill.supports_gun_control == "no" %>
      <% against_votes = against_votes + 1 %>
    <% end %>
  <% end %>
  <% if vote.stance== "sponsor" %>
    <% if bill.supports_gun_control == "yes" %>
      <% for_votes = for_votes + 1 %>
    <% end %>
    <% if bill.supports_gun_control == "no" %>
      <% against_votes = against_votes + 1 %>
    <% end %>
  <% end %>

  <% if vote.stance== "cosponsor" %>
    <% if bill.supports_gun_control == "yes" %>
      <% for_votes = for_votes + 1 %>
    <% end %>
    <% if bill.supports_gun_control == "no" %>
      <% against_votes = against_votes + 1 %>
    <% end %>
  <% end %>

  <% if vote.stance== "against" %>
    <% if bill.supports_gun_control == "no" %>
      <% for_votes = for_votes + 1 %>
    <% end %>
    <% if bill.supports_gun_control == "yes" %>
      <% against_votes = against_votes + 1 %>
    <% end %>
  <% end %>
<% end %>
<header>
<h1><%= @representative.name%> <%= @representative.party%> - <%= @representative.district%></h1>
</header>
<div class="card text-center center border_orange" id="representative_card">
  <div class="card-header border_orange">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" id="tab-1" href="/admin/representatives/<%=@representative.id%>">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Voting Record</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/representatives/<%= @representative.id%>/donations">Campaign Finances</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/representatives/<%= @representative.id%>/contact">Contact</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <h7><%= fa_icon "thumbs-up 2x", right: false, text: "Votes For Gun Control: #{for_votes}"%></h7>
        </div>
        <div class="col-3">
          <h7><%= fa_icon "exclamation-triangle 2x", right: false, text: "Unknown Votes: #{unknown_votes}"%></h7>
        </div>
        <div class="col-5">
          <h7><%= fa_icon "thumbs-down 2x", right: false, text: "Votes Against Gun Control: #{against_votes}"%></h7>
        </div>
      </div>
    </div>
    <br>
    <% votes = @representative.votes %>
    <% votes.each do |vote| %>
      <% bill = Bill.find(vote.bill_id) %>


      <% if vote.stance =="unknown" %>
        <% header = "Unknown Stance on #{bill.location} Bill " %>
        <% icon="exclamation-triangle" %>
      <% end %>

      <% if vote.stance == "for" %>
        <% header = "Voted for #{bill.location} Bill " %>
        <% if bill.supports_gun_control == "yes" %>
          <% icon="thumbs-up" %>
        <% end %>
        <% if bill.supports_gun_control == "no" %>
          <% icon="thumbs-down" %>
        <% end %>
      <% end %>

      <% if vote.stance == "sponsor" %>
        <% header = "Sponsored #{bill.location} Bill " %>
        <% if bill.supports_gun_control == "yes" %>
          <% icon="thumbs-up" %>
        <% end %>
        <% if bill.supports_gun_control == "no" %>
          <% icon="thumbs-down" %>
        <% end %>
      <% end %>

      <% if vote.stance == "cosponsor" %>
        <% header = "Cosponsored #{bill.location} Bill " %>
        <% if bill.supports_gun_control == "yes" %>
          <% icon="thumbs-up" %>
        <% end %>
        <% if bill.supports_gun_control == "no" %>
          <% icon="thumbs-down" %>
        <% end %>
      <% end %>

      <% if vote.stance == "against" %>
        <% header = "Voted against #{bill.location} Bill " %>
        <% if bill.supports_gun_control == "no" %>
          <% icon="thumbs-up" %>
        <% end %>
        <% if bill.supports_gun_control == "yes" %>
          <% icon="thumbs-down" %>
        <% end %>
      <% end %>
      <div class="modal fade" id="stanceModal-<%= @representative.id %>" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" >Edit Stance on <%= bill.number %></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <%= form_for vote do |form| %>
              <div class = "form-group">
                <label for="stance-sponsor" class="inline">Sponsor:</label>
                <input type="radio" id="stance-sponsor" class="inline" name="vote[stance]"  <% if vote.stance == "sponsor" %>checked="checked"<% end %> value = "sponsor">
                <label for="stance-cosponsor" class="inline">Cosponsor:</label>
                <input type="radio" id="stance-cosponsor" class="inline" name="vote[stance]" <% if vote.stance == "cosponsor" %>checked="checked"<% end %> value = "cosponsor">
                <label for="stance-for-voter" class="inline">For:</label>
                <input type="radio" id="stance-for-voter" class="inline" name="vote[stance]" <% if vote.stance == "for" %>checked="checked"<% end %>value = "for">
                <label for="stance-unknown-voter" class="inline">Unknown:</label>
                <input type="radio" id="stance-unknown-voter" class="inline" name="vote[stance]" <% if vote.stance == "unknown" %>checked="checked"<% end %>value = "unknown">
                <label for="stance-against-voter" class="inline">Against:</label>
                <input type="radio" id="stance-against-voter" class="inline" name="vote[stance]" <% if vote.stance == "against" %>checked="checked"<% end %> value = "against">
              </div>
              <button type="submit" class="btn btn-primary">Save changes</button>
              <% end %>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class = "card border_orange">
        <div class="card-header border_orange"><h3><%= fa_icon "#{icon}", right: false %> <%= header%> <%= bill.number %> - <%= bill.shorthand %></h3></div>
        <div class="card-body left">
          <p><strong>Status: </strong><%= bill.status %></p>
          <p><strong>Summary: </strong> <%= bill.summary %> </p>
          <%= link_to "View Bill", bill , class: "btn btn-primary btn-block" %>
          <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#stanceModal-<%= @representative.id %>">Edit Stance</button>

        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>
</center>
