
<center>
<header>
<h1><%= @representative.name%> <%= @representative.party%> - <%= @representative.district%></h1>
</header>
<div class="card text-center center border_orange" id="representative_card">
  <div class="card-header border_orange">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" id="tab-1" href="/representatives/<%=@representative.id%>">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/representatives/<%= @representative.id%>/votes">Voting Record</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/representatives/<%= @representative.id%>/donations">Campaign Finances</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Contact</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="inner narrow center">
      <br>
      <form method="post">
        <%= token_tag %>
        <div class ="container">
          <div class="row">
            <div class="col-sm-6">
              <div class = "field">
                <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class = "field">
                <input type="text" class="form-control" id="email" name="from_email" placeholder="Email">
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12">
              <div class = "field">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12">
              <div class = "field">
                <textarea class="form-control" name="message" id="message" rows="6" placeholder="Message"></textarea>
              </div>
            </div>
          </div>
        </div>
          <br>
          <ul class="actions">
            <li><button class="button" type="submit">Send</button></li>
          </ul>
        </div>
      </form>
      <br>
    </div>
  </div>
</div>
</center>
