
<center>

    <header>
  <h1>YOUR REPRESENTATIVES</h1>
    </header>
  <p>Scroll Down the Page to View All of Your Legislators as Well as Their Positons on Gun Control, Voting Record and Campaign Finances.
    <br>Then Click the Contact Tab to Send Your Representative a Prewritten or Custom Email Regarding a Current Issue.</p>
<div id="scroll-div">
<img id="scroll-img-left" src=<%= image_url('scroll.png') %>></img>
<img id="scroll-img-right"  src=<%= image_url('scroll.png') %>></img>
</div>
<div id="rep-div" data-turbolinks="false">
  <% @reps.each_with_index do |representative, index| %>
    <section class="rep-section" id = "rep-<%=index%>">
      <div class="representative_container" id = "representative_container_<%= index %>">
        <%= render :partial => 'show', :locals => {:@representative => representative, :@index => index} %>
      </div>
    </section>
  <% end %>
</div>
  </center>
