<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @bill.number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bill.status %>
</p>

<p>
  <strong>Session:</strong>
  <%= @bill.session %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @bill.summary %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
