<%= form_with(model: senator, local: true) do |form| %>
  <% if senator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(senator.errors.count, "error") %> prohibited this senator from being saved:</h2>

      <ul>
      <% senator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :party %>
    <%= form.text_field :party %>
  </div>

  <div class="field">
    <%= form.label :beliefs %>
    <%= form.text_field :beliefs %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating %>
  </div>

  <div class="field">
    <%= form.label :img %>
    <%= form.text_field :img %>
  </div>

  <div class="field">
    <%= form.label :district %>
    <%= form.text_field :district %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
