
<center>
  <header>
<h1><%= @senator.name%> <%= @senator.party%> - <%= @senator.district%></h1>
</header>
<div class="card text-center center border_orange" id="senator_card">
  <div class="card-header border_orange">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" id="tab-1" href="/senators/<%= @senator.id%>">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/senators/<%= @senator.id%>/votes">Voting Record</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Campaign Finances</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <% donations = @senator.donations %>
    <% donations.each do |donation| %>
      <% lobbyist = Lobbyist.find(donation.lobbyist_id) %>
      <div class = "card border_orange">
        <div class="card-header border_orange">Recieved <%= donation.value %> from <%= lobbyist.name %></div>
        <div class="card-body">
          <p><strong>Year: </strong><%= donation.year %></p>
          <p><strong>Description: </strong> <%= lobbyist.description %> </p>
          <%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-block btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
  <% lobbyists = []
   Lobbyist.all.each do |lobbyist|
     obj = [lobbyist.name, lobbyist.id]
     lobbyists.push(obj)
  end
  %>

<%= form_for :donation, url: "/admin/donations" do |form| %>
<h3 class="center"> Add Donation</h3>
    <% if @donation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

        <ul>
        <% @donation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :value %>
      <%= form.text_field :value, class: 'form-control' %>
    </div>
    <div class="field">
      <%= form.label :year %>
      <%= form.text_field :year, class: 'form-control' %>
    </div>
    <div class="field">
      <%= form.label(:lobbyist_id, "Lobbyist:") %></th>
      <%= form.select :lobbyist_id, lobbyists, {}, { :class => 'form-control' }%>
    </div>

    <div style="display:none;">
      <input type ="text" name="donation[senator_id]" value="<%=@senator.id%>">
    </div>
<br>
    <div class="actions">
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
  <% end %>

</center>
