<div class="container-fluid votes-container">
  <h2 class="text-secondary">Senators</h2>
  <% Senator.all.each_slice(6) do |senators| %>
    <div class = "row card-deck" >
      <% senators.each do |senator| %>

        <div class="card col-md-2 border-secondary text-secondary" >
          <img class="card-img-top" src="<%= senator.img %>" alt="Card image cap">
          <h4 class="card-title"><%= senator.name %></h4>

          <p> <%= senator.party %> - <%= senator.district %> </p>
          <div class ="white-text">
           <%= link_to "View", senator , class: "btn btn-primary btn-block" %>
           <%= link_to "Edit", senator , class: "btn btn-secondary btn-block" %>
           <%= link_to 'Destroy', senator, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-block btn-danger" %>

                    </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
