
<center>
<div class="card text-center center" id="senator_card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/senators/<%=@senator.id%>">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="">Voting Record</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Campaign Finances</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <% votes = @senator.votes %>
    <% votes.each do |vote| %>
      <% bill = Bill.find(vote.bill_id) %>


      <% if vote.stance =="unknown" %>
        <% header = "Unknown Stance on Senate Bill " %>
        <% type="warning" %>
      <% end %>

      <% if vote.stance == "for" %>
        <% header = "Voted for Senate Bill " %>
        <% if bill.supports_gun_control == "on" %>
          <% type="success" %>
        <% end %>
        <% if bill.supports_gun_control == "off" %>
          <% type="danger" %>
        <% end %>
      <% end %>

      <% if vote.stance == "sponsor" %>
        <% header == "Sponsored Senate Bill " %>
        <% if bill.supports_gun_control == "on" %>
          <% type="success" %>
        <% end %>
        <% if bill.supports_gun_control == "off" %>
          <% type="danger" %>
        <% end %>
      <% end %>

      <% if vote.stance == "cosponsor" %>
        <% header = "Coponsored Senate Bill " %>
        <% if bill.supports_gun_control == "on" %>
          <% type="success" %>
        <% end %>
        <% if bill.supports_gun_control == "off" %>
          <% type="danger" %>
        <% end %>
      <% end %>

      <% if vote.stance == "against" %>
        <% header = "Voted against Senate Bill " %>
        <% if bill.supports_gun_control == "off" %>
          <% type="success" %>
        <% end %>
        <% if bill.supports_gun_control == "on" %>
          <% type="danger" %>
        <% end %>
      <% end %>
      <div class = "card border-<%= type %>">
        <div class="card-header"><%= header %> <%= bill.number %></div>
        <div class="card-body">
          <p><strong>Status: </strong><%= bill.status %></p>
          <p><strong>Summary: </strong> <%= bill.summary %> </p>
          <p><strong>Official Position on Bill: </strong><%if vote.position == nil || vote.position == "" %>None Specified<% else %><%=vote.position %><%end%></p>

        </div>
      </div>
    <% end %>
  </div>
</div>
</center>
